[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"autopep8" = "*"
"luma.emulator" = "*"
pygame = ">=2.0.0.dev6"
rope = "*"
flake8 = "*"

[packages]
"luma.oled" = "*"
"luma.core" = ">=1.10"
psutil = "*"
pysensors3 = "*"
humanize = "*"
miniupnpc = "*"
beautifulsoup4 = "*"
requests = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
